html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Hiragino Sans','ヒラギノ角ゴシック','Avenir','Helvetica Neue','Helvetica',YuGothic,'Yu Gothic','メイリオ', Meiryo,'Arial','ＭＳ Ｐゴシック','MS PGothic', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
